<%post.comments.each do |comment|%>
  <div class="comment">
            <%=link_to profile_picture(current_account,40),profile_path(current_account.username), class:"float-left m-r-15"%>

    <strong><%= comment.account.username%></strong>
    <%= comment.comment%>
    <p class="text-muted"> <%= time_ago_in_words comment.created_at%> ago</p>
  </div>
<%end%>
