<div class="container">
 <div class="row">
  <div class="col-4">
    <% if @current_account.image.present? %>
      <%= image_tag @current_account.image, class: "img-circle" %>
    <% else %>
      <!-- Display a default image or some placeholder -->
      <%= image_tag "default_profile_image.png", class: "img-circle" %>
    <% end %>
  </div>
  </div>
   <div class="row">
      <% @posts.each do |post|%>
        <div class="col-4">
          <div class="insta-post profile-post">
            <%= image_tag (post.image), class:"img img-fluid" %>
          </div>
        </div>
      <%end%>
    </div>
</div>

