
<div class="container">
  <div class="row profile-post">
      <% @linked_posts.each do |post|%>
        <div class="col-">
          <div class="insta-post">
            <%= link_to image_tag(post.image), class:"img img-fluid"%>
          </div>
        </div>
      <%end%>
  </div>
</div>

