<div>
  <div>
  </div>
</div>
<h2 class="mt-3">Stories</h2>
<%= link_to "Add a New Story", new_story_path %>

<div class="d-flex flex-wrap">
  <% @stories.each do |story| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <%= image_tag story.image,class:"card-img-top"  %>
        <div class="card-body">
          <h5 class="card-title"><%= story.account.username %></h5>
          <p class="card-text">
             <%= distance_of_time_in_words(Time.now, story.expires_at) %> left
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
