
<h1>Welcome to InstagramClone</h1>
<p class="lead">A complete project boilerplate built with Bootstrap</p>
<p>Bootstrap v5.2.3</p>
<%=link_to 'Sign Up', new_account_registration_path, class "btn btn-sucess" %>

