.post-meta{
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #333;

  img{
    mar
  }
}
.insta-post{
  margin-bottom: 15px;
}
.profile-post{
  margin-top: 30px;
}
